.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 32px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #111;
    z-index: 1;
} 
.logo{
    position: fixed;
    left: 20px;
    width: 167px;
    height: 45px;
}
.avatar{
    position: fixed;
    right: 20px;
    width: 43px;
}
.dropdown{
    position:fixed;
    left: 14rem;
    border: none;
    min-height: 35px;
    width: 150px;
    background: none;
    color: red;
    font-size: 17px;
    outline: none;
    font-family: 'Oxygen','sans-serif';
    font-weight: 500;
}
